#full{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: blue;
   animation: ball 1s ease-in-out infinite alternate;
display: flex;
justify-content: center;
align-items: center;
transition-timing-function: ease-in-out;

}
@keyframes ball{
    0%{
        transform:translate3d(0,0,0)

    }
   
 
   
    100%{
        transform:translate3d(0,300px,0) rotate(360deg);
    }
}
#sh{
    width: 150px;
    height: 50px;
    background-color: gray  ;
    border-radius: 50%;
    
    margin-left: 930px;
    animation: sh 1s ease-in-out infinite alternate;

}
@keyframes sh{
    0%{
        transform: scale(0.6);
      opacity: 0.2  ;
    }
    100%{
        opacity: 1;

    }
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
