#head{
    display: flex;
    

}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


#name{
    
    margin-left: 650px;
    margin-top: 60px;
    font-size: 20px;
   
}
#photo{ 
    margin-top: 30px;
    margin-left: 430px;
    border: 4px blue solid;
    padding: 8px 8px 8px 8px;
    border-radius: 8px;
}
#photo img{

    width: 150px;
}
hr{
    margin: 0px 60px;
        color: #0000ff;
    width: 90%;
    height: 8px;
    background-color: #0000ff;
}
h2{
    margin: 0px 80px;
    font-size:xx-large;
    color: #0000ff;
}
#total{
    
    border: 5px solid black;
    border-radius: 20px;
}